In [37]:
import pandas as pd
df = pd.read_excel("data testing.xlsx")

In [38]:
import re
df['text'] = df['text'].replace('\s+', ' ', regex=True)
df['text'] = df['text'].fillna('').apply(str)
df['text'] = df['text'].replace({'"':'',
                                 '\d+':'',
                                 ':':'',
                                 ';':'',
                                 '#':'',
                                 '@':'',
                                 '_':'',
                                 ',': '',
                                 "'": '',
                                  }, regex=True)

df['text'] = df['text'].str.replace(r'[https]+[?://]+[^\s<>"]+|www\.[^\s<>"]+[?()]+[(??)]+[)*]+[(\xa0]+[-&gt...]', "",regex=True)

df['text'] = df['text'].replace('\n','', regex=True)

df['text'] = df['text'].replace({'\.':'','(/)':'','\(':'','\)':''},regex=True)
df['text'] = df['text'].replace('[\.:"]','',regex =True)

df['text'] = df['text'].fillna('').apply(str)

df['text'].astype(str)
letters_only = re.sub("[^a-zA-Z]",  # Search for all non-letters
                          " ",          # Replace all non-letters with spaces
                          str(df['text']))
df['text'] = df['text'].str.strip()
df['text'] = df['text'].str.lower()

In [39]:
df

                                                  text
0    ayo jawab siapa yg baru tau kalau pos indonesi...
1    oktober  memperingati hari kesaktian pancasila...
2    alasan sederhana mau coba download pospayoffic...
3    tercatat sampai dengan semester i- pertumbuhan...
4    digitalisasi di tubuh pt pos indonesia diwujud...
..                                                 ...
979  ðŸŒŸunfortunately pos malaysia only delivers to t...
980  ðŸ’Œ kapankah anda terakhir kali menulis surat? ðŸ’Œ...
981  ðŸ’« po case album aespa  savage ðŸ’« ðŸ’Œ ditunggu sam...
982  ðŸ’³ checkout all nominal shopee split pay ðŸ’³ shop...
983  ðŸ˜¢no existirÃ¡ intercambio de jugadores en pes  ...

[984 rows x 1 columns]

In [42]:
df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
df

                                                  text
0    ayo jawab siapa yg baru tau kalau pos indonesi...
1    oktober  memperingati hari kesaktian pancasila...
2    alasan sederhana mau coba download pospayoffic...
3    tercatat sampai dengan semester i- pertumbuhan...
4    digitalisasi di tubuh pt pos indonesia diwujud...
..                                                 ...
979  unfortunately pos malaysia only delivers to th...
980   kapankah anda terakhir kali menulis surat?  m...
981   po case album aespa  savage   ditunggu sampai...
982   checkout all nominal shopee split pay  shopee...
983  no existir intercambio de jugadores en pes   p...

[984 rows x 1 columns]

In [43]:
df.to_excel("data clear.xlsx")